#mainH {
    text-align: center;
    font-size: 100px;
    font-style: unset;
}
#readingH {
    text-align: center;
    font-size: 50px;
    font-style: unset;
}
a{
    text-decoration-line: none;
    color: black;
}
#linkli{
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}
#linkli1{
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}
#linkli2{
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}
#linkli3{
    float: left;
    margin-left: 80px;
    margin-right: 80px;
}
#link{
    display: flex;
    justify-content: center;
    border:1px solid; padding:10px;
}
#linkBody{
    display: flex;
    justify-content: center;
    margin-top: 2%; 
}
#t1{
    border-collapse: collapse;
}
#one{
    text-align: center;
}
#two{
    text-align: center;
}